<div class="row">
    <div class="col-lg-6 habilidad">
        <div class="form-group">
            <label>Competencia</label>
            <%= f.select :ability, options_for_select(@tecnicas.map {|ability| [ability.ability, ability.id]})%>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Valor esperado</label>
            <%= f.text_field :value, {:class => "form-control", value: "0", type: "number", min: "0", max: "5"} %>
        </div>
    </div>
</div>