<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Crear Colaborador</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Colaboradores</a>
            </li>
            <li class="breadcrumb-item">
                <strong>Crear Colaborador</strong>
            </li>
        </ol>
    </div>
</div>