<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Periodos</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'periods', :action => 'index' %>">Periodos</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="container-fluid">
    <% @periods.each do |period| %>
        <div class="row">
            <div class="col">
                <%= period.start_date %> hasta <%= period.finish_date %>
            </div>
        </div>
    <% end %>
</div>
</div>