<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">

            <% if active_period? && is_admin? %>
               <li style="padding: 20px; color: red;">
                    <i class="fa fa-warning"></i>
                    <span class="m-r-sm welcome-message">Período activo. Algunas funciones de editar y eliminar van a estar limitadas</span>
                </li>
            <% end %>
            
            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> Cerrar Sesión
                </a>
            </li>
        </ul>

    </nav>
</div>